# 忽略所有 .csv、.xlsx、.pickle 和 .bin 檔案
*.csv
*.xlsx
*.pickle
*.bin

# 忽略環境配置文件
.env

# 忽略操作系統生成的文件
.DS_Store
Thumbs.db

# 忽略 Python 生成的文件和目錄
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/

# 忽略日誌文件
*.log

# 忽略虛擬環境目錄
.venv/
env/
venv/

# 忽略 Node.js 模塊目錄
node_modules/

# 忽略 macOS 特定文件
.DS_Store

# 忽略 Visual Studio Code 設定
.vscode/

# 忽略 IntelliJ IDEA 設定
.idea/

# 忽略臨時文件
*.swp
*~
.tmp
*.temp

# 忽略打包生成的文件
*.bak
*.zip
*.tar.gz
*.rar

# 忽略編譯生成的文件
*.out
*.o
*.class
*.dll
*.exe
*.so

# 忽略資料庫文件
*.sqlite3

# 忽略 Java 構建文件
*.class
*.jar

# 忽略 .NET 構建文件
*.dll
*.exe
*.pdb
*.mdb

# 忽略 Rails 構建文件
/log/*
/tmp/*
/coverage/*
*.rbc
*.sassc

# 忽略 Django 構建文件
*.migrations/
*.pyc
*.pyo
*.coverage
.db/
__pycache__/

# 忽略配置文件
*.cfg
*.conf

# 忽略數據文件
*.dat
*.db
*.sql
*.sqlite

# 忽略待辦清單
TODO
# 忽略暫時存檔
/json_files/*
/chromadb